* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.active {
  border-bottom: 3px solid blue;
}

.active:hover {
  color: red;
  border-bottom: 3px solid red;
}
